body{
  margin: 0;
  padding: 0;
}
/*--------HEADER SECTION------*/
header {
width: 100%;
margin: 0;
}
.hero-image img{
  width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  overflow:visible;
  background-position:center;
  background-size: cover;
  background-repeat: repeat;
  position: relative;

}
/*-----NAVIGATION SECTION------*/
.navbar {
  margin-bottom:0;
}
.navbar.active {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}
nav {
    width: 100%;
    text-align: center;
    background-color: rgba(33,39,33,1);
}
nav ul {
  list-style-type: none;
  display: none;
  padding: 0;
  margin: 0;
}
nav ul li{
  border-top: 2px;
}
nav li {
margin-left: 10px;
margin-right: 20px;
}
nav .hammenu {
    display: inline-block;
    width: auto;
    padding: 0;
}
nav .hammenu span {
    padding: 0;
    margin: 0;
    background-color: rgba(33,39,33,0.1);
}
nav a {
    display: block;
    width: 100%;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    font-size: 20px;
    color: white;
    transition: 0.4s;
    font-family: sans-serif;

}
nav a.show {
    display: block;
    text-align: center;
    margin: 0;
}
nav a:hover:first-child {
  background-color: rgba(33,39,33,0.0);
}
nav a:hover {
  background-color: rgba(33,39,33,0.5);
}
a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
}
.hero-image span,
.hero-image h1{
  text-transform: uppercase;
  text-align: center;
  display: block;
}
/*For Sections*/
section > h2,
section > div,
section > p{
  padding: 0 1em;
}
/*HEADINGS*/

h1,span {
  font-family: sans-serif;
  margin: 0;
  color: white;
}
h2,h3,h4 {
  color: #006341;
  font-family: sans-serif;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
  font-weight: lighter;
}
h4 {
  font-size: 1em;
  color: rgba(33,39,33,0.8)
}
h5{
  font-size: 0.8em;
  font-family: sans-serif;
  padding-top: 15px;
  color: #F0F0F0;
}
/*CSS FOR COURSES PAGE*/
.danbox  {
  background-color: #212721;
  color: #F0F0F0;
  text-align: center;
  padding: 1em;
  margin-bottom: 50px;
}
/*PARAHGRAPH*/
p{
  text-align: justify;
  line-height: 1.8em
}
p,ul,li {
  border: 2px;
  color: rgba(33,39,33,0.8);
  text-decoration: none;
}
a{
  color: blue;
  font-size: 1em;
}
.topbtn {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 99999999;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
}

.topbtn span {
    margin: 0;
    color: #F0F0F0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.ourprogram {
  width: 24em;
  height: 24em;
  border-radius: 50%;
  margin-right: 8em;
  float: right;
  overflow: hidden;
  margin-left: 50px;
  margin-bottom: 40px;
  display: none; /*which will be block
  in the desktop version*/
}
.fa-chevron-down {
  display: block;
}
.accordion-title{
  background-color: #006341;
  color: #F0F0F0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.accordion-title span{
  float: right;
}
.accordion-content {
  display: none;
}
footer {
  width: 100%;
  background-color: #212721;
  color: #F0F0F0;
  height: 60px;
  text-align: center;
  margin-top: -1.3em;
  padding: 0;
}
.row {
  margin:0;
  padding: 0;
}


/*CSS for Professors Page*/
.our-professors {
  margin-top: 4em;
}
.image-wrapper {
  width: 100%;
  height: 30em;
  background-color: #006341;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: -1.25em;
  text-align: center;
}

.first,.third {
  margin-right: 1em;
}
.third {
  padding: 0;
  border: 0;
}
.image-wrapper:last-child {
  margin-bottom: -50px;
}
.circlebox{
  width: 12em;
  height: 12em;
  border-radius: 50%;
  margin: 3em auto;
  text-align:center;
}
.professors{
  position: relative;
  overflow: hidden;
  z-index: -1;
  margin: 0;
}
.applinfo-image {
  display: none;
}
 /*ENDING COLN FOR MIN WIDTH FOR MOBILE*/

 /*Michael's work*/

@media screen and (min-width:800px) {

html {
  background-color: white;
}
/**/
  nav .hammenu {
      display: none;
  }
nav ul {
width: auto;
float: right;
display: inline-block;
}
nav ul li {
  float: left;
}
nav a.show {
    display: inline-block;
    text-align: none;
    margin: 0;
}
/*CSS FOR HOMEPAGE (MOSTLY IMAGES)*/

.ourprogram {
  display: block;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}
.accordion-content {
  display: block ;
}
.fa-chevron-down {
  display: none !important;
}
/*PROFESSORS PAGE*/
/*.professor-text {
float: right;
width: 45%;
margin-right: 3em;
}*/
.image-wrapper {
  width: 50%;
  float:left
}
.second {
  float:right;
}
.first,.third {
  margin-right: 1em;
}
.third {
  padding: 0;
  margin-right: 2em;
  border: 0;
}
.applinfo-image {
  display:  block;
  width: 30%;
  height: 40em;
  margin-left: 2em;
  float: right;
}

.textbox {
  width: 40%;
  padding-left: 2em;
}
}
